.navList {
    display: flex;
    flex-direction: column;
}

.navItem {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.navItem__img {

}

.navItem__text {
    padding: 10px 10px;
}

.navItem.active,
.navItem:hover {
    text-decoration: underline;
}