.gasItem {
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    gap: 0 20px;
}

.gasItem > td {
   display: flex;
}

.gasItem > .name {
    width: 100px;
}

.gasItem > .quantity {
    width: 100px;
}

.gasItem > .type {
    width: 100px;
}